{% layout "layout.liquid" %} {% block content %}

<h1>Suggested Cocktail Recipes </h1><br>
    <div class="save-cocktails-btns"> 
            <button class="" onclick=location.href="/ingredients">Back to Ingredients</button>
            <button class="" onclick=location.href="/cocktails/new">Create Your Own Drink</button>
    </div>
      <div class='selected-cocktail-container'>
            {% for drink in drinks%}
              <div class='selected-cocktail'>
            <h4> <a href="/fetchedCocktails/{{drink.idDrink}} ">{{drink.strDrink}}</a><br> </h4>
            <img src="{{drink.strDrinkThumb}}" id="cocktail-image" alt=""/></a> <br>
            <a href="/fetchedCocktails/{{drink.idDrink}} "></a>
          {%if drink == 'None Found'%}
          NO DRINK FOUND - TRY DIFFERENT INGREDIENTS
          {%endif%}
            <br>
          </div>
  
        {%endfor%}
        </div>    
{% endblock %}