{% layout "layout.liquid" %} {% block content %}
<div>
    <h1 class="favcocktails">Favorite Cocktails</h1>
  {% for cocktail in cocktails %}
  <article>
    <h2>
        <br>
        <a href="/cocktails/{{ cocktail._id }}" class="drinkname">
        {{cocktail.name}}</a> <br> <br>
       
      </h2>
  </article>
  {% endfor %}
</div>
{% endblock %}