{% layout "layout.liquid" %} {% block content %}

<h1 class="favcocktails">Saved Cocktails</h1>
<div class="save-cocktails-btns">
  <a href="/cocktails/new"><button>Add New Cocktail</button></a>
  <a href="/ingredients"><button>Back to Ingredients</button></a>
</div>
<div class="fav-drinks-container">
  
  {% for cocktail in cocktails %}
  <div class="fav-drinks">
    My cocktail Creations
    <br />
    <a href="/cocktails/{{ cocktail._id }}" class="drinkname">
      <h4>{{ cocktail.name }}</h4>
      <br />
      <img
        src="{{ cocktail.image }}"
        class="cocktail-images"
        alt="Image of Cocktail"
    /></a>
    <form action="/cocktails/{{ cocktail.id }}?_method=DELETE" method="POST">
      <input type="submit" value="Remove from My Cocktails List" />
    </form>
  </div>
  {% endfor %}
</div>



<!-- <div class="fav-drinks-container">
  
  {% for fetchedCocktail in fetchedCocktails %}
  <div class="fav-drinks">
    Saved cocktail Creations
    <br />
    <a href="/cocktails/{{  }}" class="drinkname">
      <h4>{{  }}</h4>
      <br />
      <img
        src="{{  }}"
        class="cocktail-images"
        alt="Image of Cocktail"
    /></a>
    <form action="/cocktails/{{  }}?_method=DELETE" method="POST">
      <input type="submit" value="Remove from My Cocktails List" />
    </form>
  </div>
  {% endfor %}
</div> -->

{% endblock %}
