{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/cocktails" method="post">
    <fieldset>
      <legend>Create a New Cocktail Recipe</legend>
      <label>
        Name:<input type="text" name="name" placeholder="Enter cocktail name" />
      </label>
      <label>
        Image:<input type="text" name='image' placeholder="Enter cocktail image URL">
      </label>
      <label>
        Ingredients:<input type="text" name="ingredients" placeholder="Enter ingredients list" />
      </label>
      <label> Measurements:<input type="text" name="measurements" placeholder="Enter measurements of ingredients" /> </label>
      <label> How is it served? <input type="text" name="served" placeholder="etc...Shaken, Stirred, On the rocks, Poured over ice..."/> </label>
      <label> Preparation: <input type="text" name="preparation" placeholder="Enter preparation instructions" /> </label>

    </fieldset>
    <input type="submit" value="Create New Cocktail" />
  </form>
</div>
{% endblock %}
