:root {
    --header: #abbea4;
    /* --header1: #2980b9; */
}

*{
    box-sizing: border-box;
    /* font-family: 'Playfair Display SC', serif; */
    font-family: 'Playfair Display', serif;

    margin: 0;
    padding: 0;
}
header{
    /* background-color: var(--header); */
    background-color: var(--header);
    margin: 0;
    padding: 0;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: black;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:hover{
    /* background-color: #ead685; */
    background-color: whitesmoke;
}

.nav{
    --bs-nav-link-hover-color: black;
}

a:hover{
        text-decoration: underline;
        border: 1px solid black;
    }
 .drinkname{
    text-decoration: none;
    color: black;
    }
.drinkname:hover{
    border: none;
    text-decoration: overline;
    color: black;
}

.favcocktails{
    margin: 1em;
    color: black;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    text-align: center;
}
.individual-drink-name{
    color: black;
}

body{
	margin:0;
	padding:0;
    /* background: url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0; */
    /* background: url('https://img.freepik.com/free-vector/condensation-water-drops-transparent_107791-6308.jpg?size=626&ext=jpg&ga=GA1.2.1169253927.1655138962') repeat 0 0; */
    background: url('https://img.freepik.com/free-vector/clear-water-drops-dew-dripping-rain-droplets_107791-12567.jpg?size=626&ext=jpg&ga=GA1.2.1169253927.1655138962') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

.img-name-pic{
    display: flex;
    flex-direction: column;
    flex-wrap: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    text-align: center;
}


.img-name-pic h3{
    display: none;
}
.img-name-pic:hover h3{
    display: block;
}

.img-name-pic::selection{
    color: yellow;
    outline: #abbea4;
}


.ingredient-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

h1{
    text-align: center;
}


img{
    height: 8em;
    width: 8em;
}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1em;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoimage{
    height: 60px;
    width: auto;
    margin-top: 2.5em;
    margin-left: 1em;
}


.fav-drinks-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fav-drinks{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cocktail-images{
    height: 15em;
    width: auto;
}

@media screen and (max-width: 480px) {
    .ingredient-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    h1{
        font-size: 20px;
    }
    .img-name-pic h3{
        display: none;
    }
    .img-name-pic:focus h3{
        display: block;
    }
    /* #logoimage{
        height: 500px ;
        width: 100px ;
    } */
    .fav-drinks-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}