{% layout "layout.liquid" %} {% block content %}
<h1 class="open-tag">
  Find cocktail recipes based on the ingredients you already have in your pantry
</h1>
<h1>Select ingredients you currently have</h1>

<article class="ingredient-container" id="ingredient-container">
  <script type="text/javascript">
      const ingArray = []
      //event delegation
      let selectedDiv;
      const ingContainer = document.getElementById('ingredient-container')
      ingContainer.onclick = function(event){
        let target = event.target
         
         selectedDiv = target.closest('div')
          selectedDiv.classList.add('highlight')
          console.log(`hello`)
      
      }
     function selectedIngredient(name){
      ingArray.push(name)
      console.log(ingArray)
     }

    //  function clearChoice(name){
    //   ingArray.pop(name)
    //  }

     function lockChoices(){
      document.getElementById('IngArray').value= ingArray
    }
  </script>
  {% for ingredient in ingredients %}
<!-- real -->
  <div
    class="img-name-pic"
    onclick="selectedIngredient('{{ ingredient.name }}');clearChoice('{{ingredient.name}}')"
  >
    <img src="{{ ingredient.image }}" alt="Image of ingredient" />
    <h3 class="hide-ing-name">{{ ingredient.name }}</h3>
  </div>

  {% endfor %}
</article>

<form action="/fetchedCocktails/API" method="POST">

  <input
    type="submit"
    onclick="lockChoices()"
    id="IngArray"
    name="IngArray"
    value="Search for cocktails"
  />
</form>
 {% endblock %}
