{% layout "layout.liquid" %} {% block content %}
<div>
  {% for ingredient in ingredients %}
  <article>
    <a href="/ingredients/{{ ingredient._id }}">
      <h2>
        {{ingredient.name}} <br>
        <img src="{{ingredient.img}}" alt="Images of ingredients">
      </h2>
    </a>
  </article>
  {% endfor %}
</div>
{% endblock %}
