{% layout "layout.liquid" %} {% block content %}
<div>
  {% for ingredient in ingredients %}
  <article>
    <a href="/ingredients/{{ ingredient._id }}">
      <h2>
        <img src="{{ingredient.img}}" alt="Images of ingredients"><br>
        {{ingredient.name}} 
      </h2>
    </a>
  </article>
  {% endfor %}
</div>
{% endblock %}
